 
 #meio{
 text-align: center;
 color: white;
 background-color: #0b1e74;
 padding-top: 10px;
 }
 
 
 #conteudo{
    background-color: rgb(126, 250, 250);
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-top: 10px;
padding-bottom: 10px;

 }

 .baixo{
    background-color: rgb(132, 132, 247);
 width: 100%;
 height: 200px;
 }

 .baixo{
    padding-left: 600px;

 }

 #terminar{
    margin-right: 600px;
    text-align: center;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

 }