#meio{
    text-align: center;
    color: white;
    background-color: #0b1e74;
    padding-top: 10px;
    height: 100px;
    }

    p{ 
margin-left: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 20px;

    }